<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://openclipart.org/image/2400px/svg_to_png/24793/Anonymous-Paper-4-icon.png" class="nav_logo" alt="Logo"> </div>
  Adnat - Challenge
</a>
<h6 style="padding-right: 50px;">
  <%= link_to 'Register', new_user_registration_path%></h6>
</nav>
